body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #3703f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0a0000,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000808,
    #08007e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
  margin: 2% auto;
}

footer {
  padding: 5px;
  background-color: rgb(15, 155, 219);
  font-family: sans-serif;
}
.signature {
  text-decoration: none;
  color: #000;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/crash.png");
}

.k {
  background-image: url("images/kick.png");
}

.l {
  background-image: url("images/snare.png");
}

.set {
  margin: 0 auto 3%;
  max-width: 800px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}
.imgs {
  width: 300px;
}
.imgs2 {
  display: none;
}
.drum {
  outline: none;
  border: 3px solid #dad8d7;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: rgb(255, 202, 28);
  text-shadow: 3px 0 #5d5f5f;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
@media only screen and (max-width: 800px) {
  .imgs {
    width: 200px;
  }
}
@media only screen and (max-width: 620px) {
  .imgs {
    width: 150px;
  }
}
@media only screen and (max-width: 540px) {
  .imgs {
    display: none;
  }
  .imgs2 {
    display: inline-block;
    width: 170px;
  }
}
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 3rem;
  }
  .drum {
    width: 120px;
    height: 120px;
    font-size: 3rem;
  }
  .imgs2 {
    width: 130px;
  }
}
